@media (min-width: 576px) { }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }

body{
 background-image: url("../asset/stars-1920x1080.jpg");
 background-size: cover;
 background-repeat: repeat;
color: aliceblue;

}

.logohead{
height: 3rem;
width: 3rem;
}

h2{
    text-align: center;
}


.earth{
    height: 850px;
    max-width: auto;
    background-image: url("../asset/earth.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}

.moon{
    height: 850px;
    max-width: auto;
    background-image: url("../asset/moon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.mid_page{
    max-height: 850px;

}

.vertical{
    border-left: 1px solid white;
    height: 100rem;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

 .card{
    background-color: black;
    margin: 3rem;
}



.cnes{
    
    height: 10rem;

}

.ecole{
    
    height: 10rem ;
    
}

