@media (min-width: 576px) { }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }

body{
 background-image: url("../asset/stars-1920x1080.jpg");
 background-size: cover;
 background-repeat: repeat;
color: whitesmoke;

}

/* navbar */
.logohead{
    height: 3rem;
     width: 3rem;
    }

.toppage{

    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
}       

h1{
    font-family: 'Orbitron', sans-serif;
    margin: 2rem;
   
}
h2{
    font-family: 'Gugi', cursive;
    text-align: center;
}


.earth{
    height: 70rem;
    max-width: auto;
    background-image: url("../asset/earth.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}


/*Centre de ma Page */

.mid_page{

    height: 70rem;
    
}

.moncercle{
    background: #f7f7f7;
    border-radius:50%;
    width:5rem;
    height:5rem;
    border:2px solid #f7f7f7;
    margin-left: 48%;
    
   
  }

.moncercle2{
    background:#f7f7f7;
    border-radius:50%;
    width:5rem;
    height:5rem;
    border:2px solid #f7f7f7;
    margin-left: 48%;
    
  }

.vertical{
    border-left: 3px solid #f7f7f7;
    height: 124rem;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

 .card{
    background-color: black;
    margin: 2rem;
}

/*Bas De Page */

.moon{
    height: 65rem;
    max-width: auto;
    background-image: url("../asset/moon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}


.cnes{
    
    height: 10rem;
    margin: 2rem;

}

.ecole{
    
    height: 10rem ;
    margin: 2rem;
    
}

p{
    font-family: 'Orbitron', sans-serif;
}
